<div class="content box">
  <h1 class="title is-1">
    {{station.title}}
  </h1>
  <div class="tile is-ancestor  is-flex">
    <div class="tile is-parent">
      <article
        class="tile is-child box has-background-black has-text-white is-size-3">
        {{station.title}}
        <span class="icon is-large">
        {{> icons/location}}
          </span>
      </article>
    </div>
    <div class="tile is-parent">
      <article
        class="tile is-child box has-background-black has-text-white is-size-3">
        Weather
         <span class="icon is-large">
         {{> icons/cloud}}
        </span>
        <br />
        <br />
        <em>{{codeToText}}</em>
      </article>
    </div>
    <div class="tile is-parent">
      <article
        class="tile is-child box has-background-black has-text-white is-size-3">
        Temp
         <span class="icon is-large">
        {{> icons/thermometer}}
        </span>
        <br />
        <br />
        <em> {{lastTemperature}} °C</em>
        <br />
        <em> {{celsiusToFahrenheit}} °F</em>
        <br />
        <br />
        <em>Min:
          {{minimumTemperature.temperature}} °C</em>
        <br />
        <em>Max:
          {{maximumTemperature.temperature}} °C</em>
      </article>
    </div>
    <div class="tile is-parent">
      <article
        class="tile is-child box has-background-black has-text-white is-size-3">
        Wind
         <span class="icon is-large">
        {{> icons/wind}}
        </span>
        <br />
        <br />
        <em>{{kmToBeaufort}} Bft</em>
        <br />
        <br />
        <em>{{windDirectionToCompass}}</em>
        <br />
        <br />
        <em>Feels like {{convertWind}} °C</em>
      </article>
    </div>
    <div class="tile is-parent">
      <article
        class="tile is-child box has-background-black has-text-white is-size-3">
        Pressure
         <span class="icon is-large">
        {{> icons/pressure}}
        </span>
        <br />
        <br />
        <em>{{lastPressure}} hpa</em>
        <br />
        <br />
        <em>Min:
          {{minimumPressure.pressure}}</em>
        <br />
        <em>Max:
          {{maximumPressure.pressure}}</em>
      </article>
    </div>
  </div>
</div>