<div class="content box">
  <h1 class="title">
    {{station.title}}
  </h1>
  <div class="block">
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        {{station.title}}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Weather
        <br />
        <br />
        {{lastCode}}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Temp
        <br />
        <br />
        {{lastTemperature}}°C
        <br />
        <br />
        Min:
        {{minimumTemperature.temperature}}°C
        <br />
        Max:
        {{maximumTemperature.temperature}}°C

      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Wind
        <br />
        <br />
        {{lastWindSpeed}}
        km/h
        <br />
        <br />
        {{station.kmToBeaufort}}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Pressure
        <br />
        <br />
        {{lastPressure}}
        hpa
        <br />
        <br />
        Min:
        {{minimumPressure.pressure}}
        <br />
        Max:
        {{maximumPressure.pressure}}
      </article>
    </div>
  </div>
</div>